.DS_Store
/.build
/.swiftpm
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.env
.env.development
default.profraw

/GBP/.swiftpm
/GBP/.build
/SportsCMS/.swiftpm
/SportsCMS/.build
