name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint-sportsbookbff:
    name: Lint SportsbookBFF
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Lint
        run: swiftlint --strict

  test-build:
    name: Build and Test
    runs-on: ubuntu-latest
    container:
      image: swift:5.5.2-focal
      options: --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --security-opt apparmor=unconfined

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache SPM
        uses: actions/cache@v2
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Build
        run: swift build --build-tests

      - name: Test
        run: swift test --skip-build --parallel

  build-lambda:
    name: Build Lambda
    runs-on: ubuntu-latest
    container:
      image: swift:5.5.2-amazonlinux2
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Cache SPM
        uses: actions/cache@v2
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      
      - name: Install dependencies
        run: yum -y install zip openssl-devel

      - name: Build
        run: swift build --product SportsbookBFFLambda -c release
      
      - name: Package
        run: scripts/package.sh SportsbookBFFLambda
      
      - uses: actions/setup-python@v2
      - uses: aws-actions/setup-sam@v1
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Build SAM template
        run: sam validate

      - name: Build SAM
      - run: sam build
      