name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  lint-sportsbookbff:
    name: Lint SportsbookBFF
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Lint
        run: swiftlint --strict
  
  lint-gbp:
    name: Lint GBP
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Lint
        run: swiftlint --strict
        working-directory: ./GBP
  
  lint-sportscms:
    name: Lint SportsCMS
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Lint
        run: swiftlint --strict
        working-directory: ./SportsCMS
  
  test-build-sportsbookbff:
    name: Build and Test SportsbookBFF
    runs-on: ubuntu-latest
    needs:
      - lint-sportsbookbff
      - test-build-gbp
      - test-build-sportscms
    container:
      image: swift:5.5.1-focal
      options: --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --security-opt apparmor=unconfined

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache SPM
        uses: actions/cache@v2
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Build
        run: swift build --build-tests

      - name: Test
        run: swift test --skip-build --parallel

  test-build-gbp:
    name: Build and Test GBP
    runs-on: ubuntu-latest
    needs: lint-gbp
    container:
      image: swift:5.5.1-focal
      options: --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --security-opt apparmor=unconfined

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache SPM
        uses: actions/cache@v2
        with:
          path: GBP/.build
          key: ${{ runner.os }}-gbp-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-gbp-spm-

      - name: Build
        run: swift build --build-tests
        working-directory: ./GBP

      - name: Test
        run: swift test --skip-build --parallel
        working-directory: ./GBP
      
  test-build-sportscms:
    name: Build and Test SportsCMS
    runs-on: ubuntu-latest
    needs: lint-sportscms
    container:
      image: swift:5.5.1-focal
      options: --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --security-opt apparmor=unconfined

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache SPM
        uses: actions/cache@v2
        with:
          path: SportsCMS/.build
          key: ${{ runner.os }}-sportscms-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-sportscms-spm-

      - name: Build
        run: swift build --build-tests
        working-directory: ./SportsCMS

      - name: Test
        run: swift test --skip-build --parallel
        working-directory: ./SportsCMS
